{{ with .Params.banner }}
  <section class="section p-0">
    <div class="grid grid-cols-12 w-full bg-black">
      <div
        class="col-span-12 lg:col-span-7 flex flex-col items-center justify-center">
        <div class="lg:col-7 md:col-9 mb-8 text-left p-4 lg:p-0">
          <h1 class="mb-4 text-h3 lg:text-h1 text-darkmode-dark">
            {{ .title | markdownify }}
          </h1>
          <p class="mb-8 text-darkmode-text text-lg">
            {{ .content | markdownify }}
          </p>
          {{ with .button }}
            {{ if .enable }}
              <a
                class="btn btn-primary"
                href="{{ .link | absURL }}"
                {{ if strings.HasPrefix .link `http` }}
                  target="_blank" rel="noopener"
                {{ end }}>
                {{ .label }}
                <i class="fa fa-arrow-right pl-2"></i>
              </a>
            {{ end }}
          {{ end }}
        </div>
      </div>

      <div class="col-span-12 lg:col-span-5">
        <video width="100%" height="auto" autoplay="false" loop muted>
          <source src="/videos/embryo-15fps.webm" type="video/webm" />
        </video>
      </div>
    </div>
  </section>
{{ end }}
