{{ with .Params.banner }}
  <section class="section banner-section">
    <div class="grid grid-cols-9 w-full bg-black py-8">
      <div class="col-span-9 lg:col-span-3">
        <div class="w-full video-container">
          <canvas class="video-ambient"></canvas>
          <video class="video" width="100%" height="auto" autoplay muted loop>
            <source src="/videos/embryo-15fps.mp4" type="video/mp4" />
            <source src="/videos/embryo-15fps.webm" type="video/webm" />
          </video>
        </div>
      </div>
      <div class="hidden lg:block lg:col-span-3 lg:col-start-4">
        <div class="video-container" class="w-full">
          <canvas class="video-ambient"></canvas>
          <video class="video" width="100%" height="auto" autoplay muted loop>
            <source src="/videos/embryo-15fps.mp4" type="video/mp4" />
            <source src="/videos/embryo-15fps.webm" type="video/webm" />
          </video>
        </div>
      </div>
      <div class="hidden lg:block lg:col-span-3 lg:col-start-7">
        <div class="video-container" class="w-full">
          <canvas class="video-ambient"></canvas>
          <video class="video" width="100%" height="auto" autoplay muted loop>
            <source src="/videos/embryo-15fps.mp4" type="video/mp4" />
            <source src="/videos/embryo-15fps.webm" type="video/webm" />
          </video>
        </div>
      </div>
    </div>

    <div
      class="absolute z-10 left-0 right-0 top-0 bottom-0 shadow-black shadow-lg">
      <div
        class="relative w-full h-full flex items-center justify-center backdrop-blur-sm">
        <div class="lg:col-7 md:col-9 text-center mx-auto">
          <h1 class="mb-4 text-h3 lg:text-h1 text-darkmode-dark">
            {{ .title | markdownify }}
          </h1>
          <p class="mb-8 text-darkmode-dark text-lg">
            {{ .content | markdownify }}
          </p>
          {{ with .button }}
            {{ if .enable }}
              <a
                class="btn btn-primary"
                href="{{ .link | absURL }}"
                {{ if strings.HasPrefix .link `http` }}
                  target="_blank" rel="noopener"
                {{ end }}>
                {{ .label }}
                <i class="fa fa-arrow-right pl-2"></i>
              </a>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{ end }}


<script>
  var canvasElements = document.getElementsByClassName("video-ambient");
  var videoElements = document.getElementsByClassName("video");

  for (var index = 0; index < videoElements.length; index++) {
    var canvas = canvasElements.item(index);
    var video = videoElements.item(index);
    var ctx = canvas.getContext("2d");

    video.addEventListener(
      "play",
      function () {
        var $this = this;
        (function loop() {
          if (!$this.paused && !$this.ended) {
            ctx.drawImage(
              $this,
              0,
              0,
              $this.videoWidth,
              $this.videoHeight,
              0,
              0,
              canvas.width,
              canvas.height,
            );
            setTimeout(loop, 1000 / 30);
          }
        })();
      },
      0,
    );

    video.play();
  }
</script>
