{{ $numberOfFeatures := len .Params.features }}


<section class="bg-gradient">
  <div class="grid grid-cols-{{ $numberOfFeatures }}">
    {{ range $i, $e:= .Params.features }}
      {{ $weight :=  math.Sub 6 (math.Product $i 2) | cast.ToInt }}
      {{ $flex := "flex flex-col w-full items-center" }}
      {{ $column := printf "col-span-%d lg:col-span-1" $numberOfFeatures }}
      {{ $color := printf "bg-gray-%d00" $weight }}


      <div class="section-sm {{ $column }} {{ $flex }} {{ $color }}">
        <div class=" px-8">
          {{ partial "image" (dict "Src" .image "Class" "rounded w-96 mx-auto mb-12" "Alt" "feature image" "DisplayXL" "520x" "DisplayLG" "425x" "DisplayMD" "360x") }}


          <h2 class="mb-4 text-center text-white">
            {{ .title | markdownify }}
          </h2>

          <p class="mb-8 text-lg text-justify indent-8 text-white">{{ .content | markdownify }}</p>

          {{ with .bulletpoints }}
            <ul>
              {{ range . }}
                <li class="relative mb-4 pl-6">
                  <i class="fa fa-check absolute left-0 top-1.5"></i>
                  {{ . | markdownify }}
                </li>
              {{ end }}
            </ul>
          {{ end }}

          {{ with .button }}
            {{ if .enable }}
              <a class="btn btn-primary mt-6" href="{{ .link | absURL }}">
                {{ .label }}
                <i class="fa fa-arrow-right pl-2"></i>
              </a>
            {{ end }}
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
</section>
