{{ with .Params.partners }}
  <section class="section-sm bg-gradient">
    <div class="container">
      <div class="flex items-center justify-center pb-12">
        <h2 class="mx-auto">{{ .title }}</h2>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 pt-8">
        {{ range $i, $e:= .items }}
          <div class="flex justify-center">
        {{ $class := printf "mx-auto object-cover w-[%d%%]" $e.size }}
        {{ partial "image" (dict "Src" $e.image "Alt" $e.name "Class" $class) }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
